@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
    margin: 0;
    padding: 0;
}

header,
body,
main,
footer,
nav,
section,
div {
    display: block;
}

body {
    background: #FFF;
    margin-bottom: 287px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 128px;
}

#logo {
    background-image: url(../images/logo.jpg);
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 32px;
    margin-top: 32px;
    height: 64px;
}

#logo > span {
    color: #3E3F43;
    font-family: Nunito;
    text-transform: uppercase;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    padding-left: 71px;
    margin-top: 21px;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    margin-right: 120px;
    margin-top: 48px;
}

nav a {
    color: #612999;
    font-family: Nunito;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a {
    text-decoration: none;
}

#home_page, #Our_sushi_page {
    font-weight: 700;
}

nav a:hover {
    color: #c38cf3;
}

.top_section {
    height: 797px;
    background-image: url(../images/sushi-restaurant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Nunito;
    line-height: normal;
    font-style: normal;
}

h1 {
    color: #612999;
    font-family: Nunito;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 32px;
    padding-left: 32px;
}

.top_section  p {
    color: #000;
    font-weight: 600;
    width: 448px;
    font-size: 24px;
    margin-left: 32px;
}

#wrapper {
    margin: 0px 32px;
}

h2 {
    color: #612999;
    font-family: Rubik;
    font-weight: 500;
    line-height: 40px;
    font-size: 40px;
    font-style: normal;
    width: 100%;
    margin-bottom: 32px;
}

.about_section {
    font-family: Rubik;
    font-style: normal;
    margin-top: 32px;
}

.about_section p {
    color: #000;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    line-height: 140.625%;
    margin-bottom: 24px;
}

.cards_section {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    margin-top: 39px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 496px;
    width: 376px;
    flex-shrink: 0;
    border-radius: 38px;
    background: #EFECFF;
    box-shadow: 0px 6px 40px 0px rgba(57, 132, 187, 0.05);
    position: relative;
    margin-bottom: 32px;
}

.heart_icon {
    width: 47px;
    height: 47px;
    background-color: #EFECFF;
    border-radius: 100%;
    background-image: url(../images/heart-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 40px;
    left: 290px;
}

.shopping_icon {
    width: 63px;
    height: 63px;
    background-color: #612999;
    border-radius: 100%;
    background-image: url(../images/shopping-card.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 406px;
    left: 262px;
}

.cards_section img {
    display: flex;
    border-radius: 38px;


}

.cards_section h3 {
    color: #000;
    text-align: justify;
    font-family: Abel;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 32px;
    top: 302px;
}

.cards_section h4 {
    color: #612999;
    text-align: justify;
    font-family: Abel;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    left: 32px;
    bottom: 36px;
}

.cards_section p {
    color: #333;
    font-family: Abel;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 342px;
    left: 32px;
    right: 29px;
    margin-top: 7px;
}

footer {
    background: #EFECFF;
    display: flex;
    position: fixed;
    height: 287px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

footer h3 {
    color: #333;
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 16px;
    margin-top: 32px;
}

.information > a, .media > a {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 8px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.links {
    margin-top: 16px;
}

footer img {
    margin-right: 24px;
}

footer h4 {
    color: #333;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 16px;
}

.media {
    margin-left: 150px;
    display: flex;
    flex-direction: column;
}

.top_images {
    display: flex;
    gap: 32px;
}

.top_images img {
    border: 4px solid #E6DBFE;
}

.list_of_sushi {
    margin-top: 32px;
}

.rocket_ship {
    border-radius: 46.5px;
    background: #612999;
    backdrop-filter: blur(10px);
    width: 82px;
    height: 82px;
    background-image: url(../images/rocket-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 16px;
}

ul {
    margin-top: 32px;
    margin-bottom: 32px;
}

ul li {
    display: flex;
    color: #000;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    align-items: center;
    margin-bottom: 16px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    margin-top: 32px;
    height: 503px;
    background: #EFECFF;
    margin-bottom: 485px;
}

.form_group {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 900px;
}

input[type="submit"] {
    align-self: flex-start;
    padding: 10px 20px;
    background-color: #612999;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #c38cf3;
}




